@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$Very-dark-desaturated-blue: hsl(238, 29%, 16%);
$Soft-red: hsl(14, 88%, 65%);
$Soft-violet: hsl(273, 75%, 66%);
$Soft-blue: hsl(240, 73%, 65%);
$Very-dark-grayish-blue: rgb(74, 75, 94);
$Dark-grayish-blue: #787887;
$Light-grayish-blue: hsl(240, 5%, 91%);
$Font-size: 12px;
$font: 'Kumbh Sans', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family: $font;
  font-size: $Font-size;
  background: linear-gradient(180deg, $Soft-violet, $Soft-blue);
}
.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px;
  min-height: 100vh;
  .faq-container{
    display: flex;
    flex-direction: column;
    margin: 90px 0 10px 0;
    box-shadow: 0px 10px 7px 0px rgba(74, 75, 94, 0.5);
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    .faq-imagenes{
      margin: 44px 0;
       .woman {
        position: absolute;
        width: 80%;
        left: 28px;
        top:-85px;

      }
       .shadow{
        position: absolute;
        top: 10px;
        left: 30px;
        width: 80%;
      }
    }
    .faq{
      display: flex;
      flex-direction: column;
      padding: 21px 10px;
        h1{
          text-align: center;
          margin: 0 0 10px 0;
        }
        .question  {
          .accordion__label {
            display: block;
            color: #000000;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            transition: background 0.1s;
            &::after{
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 20px;
              width: 12px;
              height: 6px;
              background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
              background-size: contain;
              transition: transform 0.4s;
            }
          }
         /* p{
            margin: 10px 0;
            color: $Dark-grayish-blue;
            font-weight: 400;
          }*/
          img {
            width: 3%;
            height: 6%;
            &:hover{
              cursor: pointer;
            }
          }
          .answer {
            background: #ffffff;
            line-height: 1.6;
            font-size: 0.85em;
            display: none;
          }
          .accordion__input {
            display: none;
          }
          .accordion__input:checked ~ .answer {
            display: block;
          }

          .accordion__input:checked ~ .accordion__label::after {
            transform: translateY(-50%) rotate(0.5turn);
          }

        }


        /* .answer{
          color: $Dark-grayish-blue;
          p{
            max-height: 0;
            padding: 7px 8px 7px 0;
            overflow: hidden;
          }
        }*/
        hr{
          border: 0.1px solid $Light-grayish-blue;
        }

    }
  }
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}
