@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FEE3EC;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-container {
  min-width: 998px;
  display: flex;
  flex-direction: column;
}
.site-container .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 60px 0;
}
.site-container .img_logo {
  width: 280px;
  background: #FEE3EC;
}
.site-container .img_icon {
  display: none;
}
.site-container ul {
  display: flex;
}
.site-container ul li {
  list-style: none;
}
.site-container ul li a {
  text-decoration: none;
  margin-right: 3em;
  color: #000000;
}
.site-container ul li a::before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.site-container ul li a::before:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.site-container ul li a::after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.site-container ul li a::after:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.site-container .presentation {
  margin: 40px 10px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}
.site-container .presentation .rigth {
  display: flex;
  flex-direction: column;
}
.site-container .presentation .rigth .welcome h3 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 36px;
  text-align: left;
}
.site-container .presentation .rigth .name h1 {
  height: 120px;
  font-size: 96px;
}
.site-container .presentation .rigth .name .line {
  width: 460px;
  height: 6px;
  background: linear-gradient(1deg, transparent 35%, #F2789F 44%);
  border-bottom-right-radius: 5px;
  margin: 0 auto 11px;
}
.site-container .presentation .rigth .information {
  display: flex;
  margin: 26px auto 0;
  font-weight: 500;
  font-size: 18px;
}
.site-container .presentation .rigth .information h2 {
  margin: 30px;
}
.site-container .presentation .rigth .pet {
  display: flex;
  align-items: center;
}
.site-container .presentation .rigth .pet img {
  width: 50%;
}
.site-container .presentation .rigth .pet img:hover {
  transform: scale(1.15);
  cursor: pointer;
  box-shadow: burlywood;
}
.site-container .presentation .adopt {
  position: relative;
}
.site-container .presentation .adopt .marco .marco2 {
  width: 385px;
  height: 556px;
  border: 5px solid #F2789F;
  margin: 10px auto;
}
.site-container .presentation .adopt .marco .marco2 .marco1 {
  width: 359px;
  height: 530px;
  border: 5px solid #F999B7;
  margin: 5px auto;
}
.site-container .presentation .adopt .marco .marco2 .marco1 img {
  position: absolute;
  width: 100%;
  left: -42px;
  top: 51px;
}
.site-container .presentation button {
  background-color: #F2789F;
  border: none;
  border-radius: 13px;
  padding: 18px 45px;
  position: absolute;
  left: 115px;
  bottom: -7px;
  color: #FEE3EC;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 700px) {
  .site-container {
    min-width: 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .site-container .menu-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 20px 10px 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .site-container .menu-container .menu-toggle {
    transform: translateY(0%);
  }
  .site-container .menu-container .img_logo {
    width: 220px;
    background: #FEE3EC;
    z-index: 2;
  }
  .site-container .menu-container ul {
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px);
    transform: translateY(-120%);
    transition: all 1.4s;
    z-index: 1;
  }
  .site-container .menu-container ul li {
    list-style: none;
  }
  .site-container .menu-container ul li a {
    text-decoration: none;
    margin-right: 3em;
  }
  .site-container .menu-container .img_icon {
    display: block;
    width: 50px;
    cursor: pointer;
  }
  .site-container .presentation {
    flex-direction: column;
  }
  .site-container .presentation .rigth {
    display: flex;
    flex-direction: column;
  }
  .site-container .presentation .rigth .welcome h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-align: left;
  }
  .site-container .presentation .rigth .name h1 {
    height: 40px;
    font-size: 35px;
  }
  .site-container .presentation .rigth .name .line {
    width: 150px;
    height: 6px;
    background: linear-gradient(2deg, transparent 44%, #F2789F 51%);
    border-bottom-right-radius: 5px;
    margin: 0 auto 11px;
  }
  .site-container .presentation .rigth .information {
    flex-direction: column;
    text-align: center;
    margin: 26px auto 0;
    font-weight: 500;
    font-size: 18px;
  }
  .site-container .presentation .rigth .pet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-container .presentation .rigth .pet img {
    width: 50%;
  }
  .site-container .presentation .adopt {
    position: relative;
  }
  .site-container .presentation .adopt .marco .marco2 {
    width: 280px;
    height: 418px;
    border: 5px solid #F2789F;
    margin: 10px auto;
  }
  .site-container .presentation .adopt .marco .marco2 .marco1 {
    width: 260px;
    height: 396px;
    border: 5px solid #F999B7;
    margin: 5px auto;
  }
  .site-container .presentation .adopt .marco .marco2 .marco1 img {
    position: absolute;
    width: 100%;
    left: -38px;
    top: 25px;
  }
  .site-container .presentation button {
    background-color: #F2789F;
    border: none;
    border-radius: 13px;
    padding: 18px 45px;
    position: absolute;
    left: 60px;
    bottom: -7px;
    color: #FEE3EC;
    font-weight: 600;
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
